@font-face {
  font-family: WorkSans;
  src: url('./WorkSans-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'WorkSans', Helvetica;
  background-color: #EFF2F1;
  width: 100%;
  height: 100vh;
}

.App .navigation .title {
  font-family: 'WorkSans', Helvetica;
  font-size: 48px;
  color: #EFF2F1;
}

.App .navigation {
  /* width: 80%; */
  padding: 0% 10% 0% 10%;
  height: 100px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #F2BEFC;
  color: #685F74;

}

.App .navigation a {
  color: #685F74;
  font-size: 32px;
  text-decoration: none;
}

.project {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.project:hover {
  opacity: 1;
}

.project-name {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: left;

}

.project-name .heading {
  background: black;
  color: white;
  padding: 2px 5px 2px 5px;
}

.project-name .subheading {
  background: black;
  color: white;
  padding: 2px 5px 3px 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.project .project-item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0 4px;
}

.gallery .gallery-column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.gallery .gallery-column .gallery-item {
  cursor: pointer;
}

.gallery .gallery-column .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.modal {
  height: 20px;
  width: 20px;
  background-color: rebeccapurple;
}

.cards-container {
  padding: 20px 150px 20px 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: 200px;
  /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 2rem;
  
}

.card-container {
  display: grid;
  grid-template-columns: 10% auto 200px;
  grid-template-rows: 200px auto;
  background-color: #EBFFFD;
  cursor: pointer;
  /* grid-gap: 1rem; */
}

.card-container .image {
  /* background-color: red; */

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  
}
.card-container .tags {
  /* background-color: green; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

}
.card-container .title {
  /* background-color: white; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  font-size: 28px;
  text-align: right;
  padding: 0px 8px 0px 8px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}